@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

html {
  font-size: 62.5%;
  background-color: #272b2c;
  overflow: auto;
}

body {
  padding: 15px;
}

a {
  color: #ff2e88;
}
a:hover {
  background-color: #ff2e88;
  color: #fff;
}

/******************
  Override Bulma
  *****************/

.button.is-link {
  background-color: #ff2e88;
}

.button.is-danger.is-outlined,
.button.is-danger.is-outlined:hover {
  background-color: #ff2e88;
}

.tabs a {
  padding: 0.5em 0.6em;
}

.tabs li.is-active a {
  border-bottom-color: #ff2e88;
  color: #ff2e88;
}

.tabs li a:hover {
  border-bottom-color: #ff2e88;
  color: #fff;
}

.checkbox-container > input {
  height: 1.3em;
  width: 1.3em;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.checkbox-container > input:hover {
  border-color: #ff2e88;
}

.checkbox-container > input:checked::before {
  position: relative;
  display: block;
  content: "✓";
  font-size: 1.5em;
  top: -6px;
  text-align: center;
}

/******************
  Left Sidebar
  *****************/

#sidebar {
  width: 250px;
}

#sidebar h1 {
  position: relative;
}

#sidebar h1 > span.alpha-warning {
  position: absolute;
  transform: rotate(10deg);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  right: 10px;
  top: 5px;
  color: #ff2e88;
}

#sidebar .tabs-content > div {
  display: none;
}
#sidebar .tabs-content > div.is-active {
  display: block;
}

#library > div > .image {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}
#library > div > .image:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px #777777;
}
#library > div {
  display: inline-block;
  position: relative;
  margin: 6px;
  width: 96px;
}
#library > div:hover::after {
  position: absolute;
  display: inline-block;
  content: "Click to add";
  bottom: 9px;
  left: 0px;
  width: 100%;
  background-color: #ff2e88;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

/* Global options active */
#sidebar > #options-box .block-buttons {
  display: none;
}

/* Block options active */
#sidebar > #options-box[data-blockid] {
  border: 3px solid #ff2e88;
  background-color: hsl(334, 100%, 95%);
}
#sidebar > #options-box[data-blockid] p.box-title {
  color: #ff2e88;
}
#sidebar > #options-box[data-blockid] .block-buttons {
  display: block;
}

/* No blocks available */
#sidebar > #options-box[data-blockid="none"] {
  display: none;
}

#sidebar > .box {
  border: 3px solid #888888;
}

#sidebar p.box-title {
  margin-top: -0.75rem;
  margin-bottom: 0.5rem;
}

#sidebar div.field.is-grouped > .field {
  width: 48%;
  margin: 0px 4px;
}

#delete-button {
  background-color: #fff;
}
#delete-button:hover {
  background-color: #f14668;
}

#save-button,
#load-button {
  width: 44.4%;
}

#export-warning {
  display: inline-block;
  position: relative;
}
#export-warning span.icon{
  margin-top: 5px;
}
#export-warning div {
  display: none;
  position: absolute;
  width: 220px;
  left: 25px;
  top: -60px;
  z-index: 999999;
  padding: 5px 10px;
  border: 3px solid #ffdd57;
  border-radius: 5px;  
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
#export-warning:hover div {
  display: block;
}
/******************
  Paper Template
  *****************/

#paper-container {
  padding: 15px;
  position: absolute;
  top: 0px;
  left: 270px;}

#paper-svg {
  background-color: #fff;
}

#paper-svg .dragit {
  touch-action: none;
  user-select: none;
}
#paper-svg .dragit:hover {
  cursor: grabbing;
  filter: drop-shadow(0px 0px 2px #777777);
}
#paper-svg .dragit.selected .blockBorder {
  fill: hsl(334, 100%, 95%);
  stroke: #ff2e88;
}

#paper-svg .dragit::before {
  content: "TEST";
}

#remarkable-elements {
  pointer-events: none;
}

/******************
  Gallery
  *****************/

#gallery-button .fa {
  color: #ff2e88;
}

#gallery-content .card {
  width: 180px;
  display: inline-block;
  margin: 1rem;
  background-color: #f5f5f5;
}

#gallery-content .card-image {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

#gallery-content .card-content {
  height: 8rem;
  overflow-y: scroll;
}

#gallery-content .card-footer,
#gallery-content .card-footer-item {
  border-color: #ccc;
}

#gallery-modal footer > p {
  width: 100%;
}
